   body{
    font:  "Century Gothic", Futura, sans-serif;
   }


.board{
    display: flex;
    flex-wrap: wrap;
    width: 240px;
  }

  button:hover {
    cursor: pointer;
  }

  .restart {
    padding: 10px 15px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 0.25rem;
    margin-top: 15px;
    width: 150px;
  }

  .status{
    margin: 10px;
    /* font-family:'Times New Roman', Times, serif; */
    font-weight: bold;
    font-size: 25px;
  }

  .restart:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }